* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5e5fc;
    min-height: 100vh;
    min-width: 100vw;
}

.gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #48b8d0;
    padding: 4rem;
    min-width: "";
    /*to stop the cards from changing size with different words*/
    min-height: "";
}

.myInput {
    letter-spacing: 0.1rem; 
    max-width: 4rem;
    text-align: center; 
}